/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
	height: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow-x:hidden;
}

.login_right{
    margin-top:54px;
}
.admin-header-wrap {
    width: 100%;
    background: #00786a;
	height: 129px;
}
.digital_india {
	
}
.digital_india1{
    
}
.no-bleed{
	padding:0;
	margin:0;
}
.diright img{
	position:absolute;
	padding-top:15px;
}


.card-container.card {
    margin: 80px 0px 40px 0;
    text-align: left;
    border: 1px solid #d1cdcd;
    padding: 30px 30px 30px 30px;
    min-height:230px;

}
.btn {
	font-weight: 500;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

footer{
	position:absolute;
	width:100%;
	bottom:0px;
	font-size:13px;
}
.footer-sec{
	background:#009587;
	color:#fff;
	padding:4px 0px;
	position:relative;
	z-index:999;
}
.diloin img{
	padding-top:140px;
}

 .footer-sec span{vertical-align: -webkit-baseline-middle;color: #00008d;}   

/*
 * Card component
 */

.card-container .form-control {
	border: 1px solid #969292;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}
.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin #inputEmail, .form-signin #inputPassword {
	direction: ltr;
	height:36px;
	font-size: 14px;
}
.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-link {
    font-weight: 400;
    color: #00786a;
    border-radius: 0;
	float:right;
	}
.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}
.btn-success {
    color: #fff;
   // background-color: #00786a;
    border-color: #00786a;
	
   
}
.btn.btn-signin {
    padding: 0px;
    font-weight: 500;
    font-size: 17px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 1px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    /* padding-top: 7px; */
    margin-bottom: 15px;
    width: auto;
    padding: 0 30px;
	display: inline;
}
.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
	background-color: #059181;
}
.forgot-password {
	color:#FFF;
}
.forgot-password:hover, .forgot-password:active, .forgot-password:focus {
	color: #faa718;
}

@media all and (max-width: 767px) and (min-width:320px) {
	body, html {
	height: 100%;
	background:url(../images/bg_image.jpg)no-repeat;
	align-items: center;
	display: block;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity:0.92;
}	
	}
