body {
	margin:0px;
	padding:0px;
}
img {
	max-width:100%;
	vertical-align:top;
}

.lionsymbal img{
	position: fixed;
    bottom: 5%;
    display: block;
    margin: 0 auto;
    left: 20px;
}

.texthead{color: #fff;
    font-size: 13px;
    word-wrap: break-word;
    position: absolute;
    top: 15px;
    text-align: center;
    margin: 0 auto;
    left: 5%;
}
.default-table .table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    font-size: 15px;
    text-align: left;
    background: #00786a;
    color: #fff;
	padding:10px;
}
.btn-danger {
	display: inline-block !important;
	margin-bottom: 0  !important;
	font-weight: 600 !important;
	text-align: center !important;
	vertical-align: middle !important;
	-ms-touch-action: manipulation !important;
	touch-action: manipulation !important;
	cursor: pointer !important;
	background-image: none !important;
	border: 0 !important;
	white-space: nowrap !important;
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
	padding: 6px 5px !important;
	font-size: 10px !important;
	line-height: 1.428571429 !important;
	border-radius: 3px !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	-webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
	transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
	-o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out;
	transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out;
	transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.default-table .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}
table.dataTable tbody td {
	padding: 2px 10px !important;
}
.custom .navbar-default {
	background-color: transparent!important;
	border-color:#CCC !important;
}
.custom .navbar-brand {
	float: none;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	width: 100%;
	margin: 0 auto;
	display: table;
}
.custom .navbar-nav, .navbar-header {
	float: none !important;
	margin: 0;
}
.custom .navbar-default .navbar-nav>li>a {
	color: #777;
	padding:8px !important;
	font-size:16px;
	border-bottom:1px solid #eee;
}
.otherpadding{
	padding-left:5px !important;	
	}
.custom .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #fc281d;
}
.custom .navbar-collapse {
	padding:0px !important
}
.custom .navbar-nav>li {
	float: none;
}
.custom .navbar-brand>img {
	display: block;
	margin: 0 auto;
}
.custom .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
	margin-top: 10px;
}
.propfile {
	margin:30px 5px;
}
.propfile-in {
	background: -webkit-linear-gradient(red, #3e4a52);
	background: -o-linear-gradient(red, #3e4a52);
	background: -moz-linear-gradient(red, #3e4a52);
	background: linear-gradient(red, #3e4a52);
	padding:10px 5px;
	border-radius:3px 3px 0 0;
}
.despro h2 {
	color:#fff;
	font-size:14px;
}
.despro span {
	color:#fff;
	font-size:14px;
}
.signout {
	background: #ffeaec;
	padding: 10px 10px;
	border-radius: 0 0 3px 3px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.signout .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	border:1px solid #ccc;
	font-size: 14px;
	padding: 4px 10px;
}
/*right-side section start here*/
.header-top {
	padding:8px 20px;
}
.header-top .fa {
	font-size:20px;
	color:#fff;
	padding-right:10px;
}
.header-top .fa:hover {
	color:#fff;
}
.border {
	border-right:1px solid #fff;
	margin-right:15px;
	height:100%;
	font-size:24px;

}
/*right side section end here*/
.tabdata thead {
    height: 40px;
    background: #222d32;
    color: #fff;
}
.tabdata .table>thead>tr>th{
	vertical-align:top;
	font-size:16px;
	font-weight:600;
	color:#fff;
	}
.tabdata{
	padding:5px 0 0 0	
	}
.tabdata table {
    border: 1px solid #666666;
    margin-bottom: 10px;
}
.tabdata .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}
/*tabs start here*/
/*.table-scroll-body {
  position: relative;
  height: 200px; }

.table-scroll-body tbody {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow: auto;
	
	}*/
.tabshorizontal .nav-tabs {
	border-bottom: 2px solid #DDD;
}
.tabshorizontal .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}
.tabshorizontal fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver;
	border-radius:2px;
}
.tabshorizontal legend {
	width: auto;
	border-bottom: none;
}

.tabshorizontal .nav-tabs > li > a {
	border: none;
	color: #ffffff;
	background: #313c42;
	font-size:15px;
}
.tabshorizontal .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #313c42 !important;
	background: #fff;
}
.tabshorizontal .nav-tabs > li > a::after {
content: "";
background: #313c42;
height: 2px;
position: absolute;
width: 100%;
left: 0px;
bottom: -1px;
transition: all 250ms ease 0s;
transform: scale(0);
}
.tabshorizontal .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
transform: scale(1);
}
.tabshorizontal.tab-nav > li > a::after {
background: ##5a4080 none repeat scroll 0% 0%;
color: #fff;
}
.tabshorizontal .tab-pane {
	padding: 15px 0;
}
.tabshorizontal .nav-tabs > li {
	width:20%;
	text-align:center;
}
.cardtb {
	background: #FFF none repeat scroll 0% 0%;
	/*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/
	margin-bottom: 30px;
	padding:10px;
}
.tabdata input[type="radio"], input[type="checkbox"] {
    margin: 3px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    vertical-align: top;
}

.tabshorizontal .form-group {
	margin-bottom: 2px;
}
.tabshorizontal .nav-tabs>li>a {
	border-radius:0px;
	margin-right:1px;
}
.tabshorizontal label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 16px;
	padding-top:7px;
}
.tabshorizontal legend {
	font-size: 17px;
	padding: 0 5px;
	font-weight: 600;
}
.feeshd .fa {
    font-size: 16px;
    margin-right: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ccc;
    color: #222;
    padding: 5px 8px;
    text-align: center;
    vertical-align: middle;
}
.accac{
	padding:15px 0;	
	}
.all select{
	padding:3px 15px!important;
	vertical-align:bottom;
	margin-right:5px;	
	}
.tabdataseer .table>thead>tr>th {
    vertical-align: top;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
.tabdataseer tbody {
    display: block;
    height: 150px;
    overflow: auto;
}
.tabdataseer{
	padding:10PX 0;
		
	}
.newfeed select{
	padding:4.5px 15px;
	margin-right:5px;
	}
.newfeed input{
	padding:2px;
	margin-right:5px;	
	}
.feeshddiff .fa {
    font-size: 16px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #ccc;
    color: #222;
    padding: 7px 8px;
    text-align: center;
    vertical-align: middle;
}
.details {
	padding:20px 0 0 0;
}
 input:-moz-placeholder, textarea:-moz-placeholder {
 color: #ccc !important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
 color: #ccc !important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #ccc !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #ccc !important;
}


/*modal popup css start here*/
.form-horizontal .form-group{
	margin:15px 0px !important;	
	}
.vat .fa{
	font-size:14px;	
	}

.btn-group {  
    white-space: nowrap;
	margin:3px 0px!important;
}
.btn-group .btn {  
    float: none;
    display: inline-block;
}
 .btn + .dropdown-toggle { 
    margin-left: -4px;
}

@media screen and (max-width: 1400px) {
.table-responsive {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
.table-responsive > .table {
    margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
	font-size:16px;
}

}

@media (max-width: 767px) {
  .table-responsive .dropdown-menu {
  		position: relative !important;
  }
}
/*modal popup css end here*/
/*table end here*/
/*media css start here*/

@media only screen and (max-width: 910px) and (min-width: 768px) {
	
		.tabshorizontal .nav-tabs > li > a {
    border-radius: 0px;
    margin-right: 1px;
    padding: 10px 1px;
}


		}
@media only screen and (max-width: 767px) and (min-width: 320px) {
 .custom .navbar-toggle {
 float: none;
 margin: 0 auto;
 display: block;
}
.otherpadding {
    padding-left: 0px !important;
}
.custom .navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.header-top .fa {
    font-size: 16px;
    color: #eee;
    padding-right: 10px;
}
.custom .navbar-default .navbar-nav > li > a {
    color: #777;
    padding: 8px !important;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.tabshorizontal .nav-tabs > li {
    width: auto;
    text-align: center;
	float:none;
	margin-bottom:1px;
}
.main-sidebar{
	width:230px;	
	}
}

/*media css end here*/










/*second pages start here*/
.background-input{
	background:#da0000 !important;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	margin:3px !important;	
	}
.vat{
margin-bottom:10px;	
	}

.vat a{
	background:#00786a;
	color:#fff;
	padding:6px 10px;
	margin-right:5px;
	border-radius:2px;
	}

.background-output{
	background:#93d500;
	border-right:1px solid #ccc;
	border-bottom:1px solid #999;
	}
@media all and (max-width: 767px) and (min-width: 320px) {
	.default-table .table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    font-size: 15px;
    text-align: -webkit-center;
    background: #00786a;
    color: #fff;
	padding:10px 10px;
}
.page-title{
	padding-bottom:0px;
	display:none;	
	}
.vat {
    margin-bottom: 10px;
    margin-top: 15px;
}
.fixed .main-header, .fixed .main-sidebar, .fixed .left-side {
    position: none; 
}
.page-title h1 {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
	padding-bottom:0px;
}

	}