html {
	margin:0;
	padding:0;
}
#hide{
display: none;
}
#total_Calculate{
display: none;
}
#hide_next{
	display: none;
}
#minus_id{
display: none;
}
#hide_paye{
display: none;
}
#hide_paye_next{
	display: none;
}
#minus{
display: none;
}
.hide_coep_field{
/*display: none;*/
}
.hide_coep_field_next{
/*display: none;*/
}
#sub_corpo{
display: none;
}
.headerbar {
	width: 100%;
	background: #2e8aff;
	display: inline-block;
	margin: 0 auto;
	border-bottom: 1px solid #2e8aff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1020;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
}
.no-pad {
	padding:0 !important;
}
.logo {
	padding:5px;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-nav li {
	line-height: 50px;
	text-indent: 20px;
}
.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}
.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 55px;
	line-height: 55px;
	font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
	color: #fff;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
.field input[type="text"] {
	border-radius: 0;
	background-color: #FFFFFF;
	border: 1px solid #cccccc !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size:1.40rem;
	height:4rem;
	padding: 0.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.15s linear, background 0.15s linear;
	-moz-transition: border-color 0.15s linear, background 0.15s linear;
	-ms-transition: border-color 0.15s linear, background 0.15s linear;
	-o-transition: border-color 0.15s linear, background 0.15s linear;
	transition: border-color 0.15s linear, background 0.15s linear;
	margin: 10px auto;
}
.field input:focus[type="text"], .field select:focus, .field textarea:focus {
	outline:none;
}
.field select {
	display: block;
	border: 1px solid #ccc;
	height: 35px;
	margin: 10px auto;
	border-radius:0px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-area {
	width:100%;
	margin:0 auto;
}
.btn-area button {
	border: 1px solid #2ba0f9;
	background: #2ba0f9;
	color: #ffffff;
	width:48%;
	height: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	border-radius:3px;
}
.rightbar-area {
margin:60px 0 0 0;
}
.calculator-form {
	width:100%;
	float: left;
	display: flex;
	flex-direction: column;
	background:rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	padding:0px 30px;
	/*box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);*/
}
.counting-field strong {
	display:inline-block;
}
.calculator-form p {
	padding: 10px;
	margin:10px 0px;
	background-color:#f9f9f9;
}
 .calculator-form p:nth-of-type(2n+0) {
 padding: 10px;
 margin:0px 0px;
 background-color:transparent;
}
.counting-field strong {
	float: left;
	margin: 0;
	text-transform: capitalize;
	font-family: "Helvetica Neue LT W06_45 Light";
	font-size: 14px;
	text-shadow: none;
	color: #565656;
}
.counting-field input {
	float: right;
	height: 30px;
	border-radius:5px;
	border: 1px solid #ccc;
	padding:0 5px
}
.counting-field input:focus {
	outline:none;
}
.counting-field select {
	float: right;
	height: 30px;
	border-radius:5px;
	border: 1px solid #ccc;
}
.counting-field b {
	float: right;
	font-family: "Helvetica Neue LT W06_45 Light";
}


blur {
  height:100%;
  z-index: -1;
  position: relative;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  /*filter: url(#blur);*/
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
 }

blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
 }



#sidebar {
	left: 0;
width:17%;
	background: #c2ddff;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	/*box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);*/
    top:5%;
	border-right: 1px solid #d9e2e4;
	padding:15px;
	-webkit-transition: all 0.50s cubic-bezier(0.600, 0.040, 0.355, 1) 0s;
	transition: all 0.50s cubic-bezier(0.600, 0.040, 0.355, 1) 0s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
#sidebar.is-active {
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.toggle {
	width:30px;
	height:20px;
	overflow:hidden;
	position:relative;
	margin: 16px 0px;
}
.toggle .line {
	position:absolute;
	height:2px;
	width:100%;
	background:#fff;
	-webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.toggle .line1 {
	position:absolute;
	top:0;
}
.toggle .line2 {
	position: absolute;
	top: 45%;
}
.toggle .line3 {
	position: absolute;
	bottom:0;
}
.active .line1 {
	-webkit-transform: translateY(8px) translateX(0) rotate(45deg);
	-ms-transform: translateY(8px) translateX(0) rotate(45deg);
	transform: translateY(8px) translateX(0) rotate(45deg);
}
.active .line3 {
	-webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
	-ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
	transform: translateY(-8px) translateX(0) rotate(-45deg);
}

.active .line2 {
	opacity:0;
}

.tables-group {
	border: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	overflow-x:auto;
}

.tables-group>table {
	display:inherit;
}


.tables-group>table>tbody>tr>td>table>tbody>tr>td:nth-child(1){
float:left;	
width:320px;
}

.tables-group>table>tbody>tr>td>table{
margin:0;
}


.tables-group>table>tbody>tr>td>table>tbody>tr>td>select{
float:right;
margin: 1px 0;	
}

.tables-group>table>tbody>tr>td {
	border:0px;
	padding:0px;
}

.tables-group>table{
padding:0;
margin:0;
}

.tables-group>table>tbody>tr>td> strong {
	font-size:1.50rem;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>b {
float:right;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>span {
color:#f00;
float:left;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>span>output {
color:#f00;
float:left;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>strong>span {
    color: #ff2c2c;
    font-weight: 500;
}
.tables-group>table>tbody>tr>td> span {
	color: #ff4747;
	font-weight: 600;
	margin:0 20px 0 0;
}
.tables-group>table>tbody>tr>td> p> span {
	color: #f52424;
	font-family: inherit;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>p {
float:right;
}

.tables-group>table>tbody>tr>td>table>tbody>tr{
border-bottom:1px solid #ccc;
}

.tables-group>table>tbody>tr>td>table>tbody>tr:nth-of-type(even){
background:#f3f7ff;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td{
border:0px solid #ccc;
padding:6px;
}

.tables-group>table>tbody>tr>td> h5 {
	text-transform:uppercase;
	float:left;
	margin: 0 20px 0 0;
	font-weight:normal;
}
.tables-group>table>tbody>tr>td> h4 {
	font-size: 1.50rem;
	color: #3477b9;
	text-transform: capitalize;
}
.tables-group>table>tbody>tr>td>table>tbody>tr>td>input {
	float:right;
}

.tables-group>table>tbody>tr>td>select {
	float:right;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>label {
	text-align:right;
	display:block;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>label>output {
display:inline-block;
}

.tables-group>table>tbody>tr>td>table>tbody>tr>td>input{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
 border-radius: 0;
 background-color: #FFFFFF;
 border:1px solid #cccccc !important;
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
 color:rgba(0, 0, 0, 0.75);
 display:block;
 font-family:inherit;
 font-size:1.40rem;
 height:4rem;
 padding:0.5rem;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-transition: border-color 0.15s linear, background 0.15s linear;
 -moz-transition: border-color 0.15s linear, background 0.15s linear;
 -ms-transition: border-color 0.15s linear, background 0.15s linear;
 -o-transition: border-color 0.15s linear, background 0.15s linear;
 transition: border-color 0.15s linear, background 0.15s linear;
 max-width:100%;
 width:200px;
}
 
 .tables-group>table>tbody>tr>td> input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], select, textarea {
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
 border-radius: 0;
 background-color: #FFFFFF;
 border:1px solid #cccccc !important;
 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
 color:rgba(0, 0, 0, 0.75);
 display:block;
 font-family:inherit;
 font-size:1.40rem;
 height:4rem;
 padding:0.5rem;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-transition: border-color 0.15s linear, background 0.15s linear;
 -moz-transition: border-color 0.15s linear, background 0.15s linear;
 -ms-transition: border-color 0.15s linear, background 0.15s linear;
 -o-transition: border-color 0.15s linear, background 0.15s linear;
 transition: border-color 0.15s linear, background 0.15s linear;
 max-width:100%;
 width:200px;
}

.btn-blue {
	background: #2e8aff;
	border: 1px solid #2e8aff;
	color: #fff;
	width: 8%;
	padding: 5px 0px;
	border-radius:2px;
}
.btn-blue:hover {
	background:#1277f7;
	border: 1px solid #1277f7;
}
.btn-section {
	margin:10px 0px;
}
.tables-accordian>table>tbody>tr>td>select, .tables-accordian>table>tbody>tr>td>input {
	float:right;
}

@media screen and (min-width:600px){
.toggle{
display:none;	
}	
}

@media screen and (max-width:600px){
.toggle{
float:left;	
}	

.btn-blue {
 width: 23%;
}

.field input[type="text"], .field select{
width:100%;	
}

#sidebar{
    left:0;
	right:0;
    background: #d9e2e4;
    position: absolute;
    height:auto;
    overflow-y: auto;
    z-index: 1000;
    /* box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3); */
    top:55px;
    border-right: 1px solid #d9e2e4;
    padding: 15px;
    -webkit-transition: all 0.50s cubic-bezier(0.600, 0.040, 0.355, 1) 0s;
    transition: all 0.50s cubic-bezier(0.600, 0.040, 0.355, 1) 0s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}


@media screen and (max-width:500px){

.tables-group>table>tbody>tr>td>select {
 float:none;
}

.tables-group>table>tbody>tr>td>input {
 float:none;
}


.tables-group>table>tbody>tr>td {
    width: 100%;
    display: block;
}

}